<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8"/>
    <title>RAE 系统</title>

    <link rel="stylesheet" href="css/mdui.min.css"/>
    <link rel="stylesheet" href="css/docs.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" media="screen"/>
    <script type="text/javascript" src="js/mdui.min.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e229cde3aec673670d4d203d99a7314b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body onload="init()"
      class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-indigo">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
              mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
        <a href="./" class="mdui-typo-headline mdui-hidden-xs">RAE 系统</a>
        <div class="mdui-toolbar-spacer"></div>
        <button class="mdui-btn mdui-btn-icon mdui-color-theme-primary mdui-ripple mdui-m-r-5"
                mdui-tooltip="{content: '退出'}"
                onclick={window.location.href='./logout'}><i class="mdui-icon material-icons">exit_to_app</i>
        </button>
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-row mdui-m-t-1 mdui-m-x-1">
        <div class="mdui-chip mdui-center">
            <span class="mdui-chip-icon"><i class="mdui-icon material-icons">account_balance</i></span>
            <span class="mdui-chip-title"><%= orgName %></span>
        </div>
    </div>
    <div class="mdui-row mdui-m-x-1">
        <div class="mdui-chip mdui-center">
            <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>
            <span class="mdui-chip-title"><%= userName %></span>
        </div>
    </div>
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
        <div class="mdui-collapse-item <% if (menuName.indexOf("@cert") > -1) { %> mdui-collapse-item-open <% } %> ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">card_membership</i>
                <div class="mdui-list-item-content">证书操作</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="./certApply"
                   class="mdui-list-item mdui-ripple <% if (menuName.indexOf("certApply@") > -1) { %> mdui-list-item-active <% } %>">证书申请</a>
                <a href="#"
                   class="mdui-list-item mdui-ripple <% if (menuName.indexOf("Other@") > -1) { %> mdui-list-item-active <% } %>">敬请期待</a>
                <a href="#"
                   class="mdui-list-item mdui-ripple <% if (menuName.indexOf("Other@") > -1) { %> mdui-list-item-active <% } %>">敬请期待</a>
            </div>
        </div>

        <div class="mdui-collapse-item <% if (menuName.indexOf("@other") > -1) { %> mdui-collapse-item-open <% } %>">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">layers</i>
                <div class="mdui-list-item-content">其他功能</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="#"
                   class="mdui-list-item mdui-ripple <% if (menuName.indexOf("Other@") > -1) { %> mdui-list-item-active <% } %>">敬请期待</a>
                <a href="#"
                   class="mdui-list-item mdui-ripple <% if (menuName.indexOf("Other@") > -1) { %> mdui-list-item-active <% } %>">敬请期待</a>
                <a href="#"
                   class="mdui-list-item mdui-ripple <% if (menuName.indexOf("Other@") > -1) { %> mdui-list-item-active <% } %>">敬请期待</a>
            </div>
        </div>
    </div>
</div>

<a id="anchor-top"></a>
<div class="mdui-container doc-container">
    <%- include( contentpath , contentargs ) %>
</div>
</body>
<script type="text/javascript">
    function init() {
        <%- initscript %>
    };
</script>
</html>